@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    margin: 0;
    font-family: Roboto, arial, sans-serif;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header {
    padding: 15px;
    /*background-color: rgba(0, 0, 0, 0.1607843137254902);*/
    color: white;
}
.header h1 {
    font-weight: 300;;
    font-size: 3.5em;
    text-align: start;
    margin:0;
}
.header hr {
    width: 80%;
    margin: auto;
}