@font-face {
    font-family: Gotham;
    src: url(fonts/Gotham-Book.otf);
}
body {
    margin: 0;
    font-family: Gotham, Roboto, arial, sans-serif;
    background: #e2e2e2;
}

.header {
    padding: 15px;
    background: #fff;
    box-shadow: 1px 4px 5px rgba(51, 51, 51, 0.16);
}
.header h1 {
    font-weight: 300;;
    font-size: 2em;
    text-align: start;
    margin:0;
}